# Folders
.vs/
.vscode/
lib/
Libs/
LibsLocal/
Package/
Packages/
Output/
obj/
bin/
Debug/


# File Type
*.dll
*.log
*.vspscc
*.vssscc
*.user
*.pdb
*.exe
*.ldf
*.mdf
*.suo
*.hdr
*.htm
*.bak
*.vsmdi
*.zip
*.rar
*.7z

# Files 
NuGet.Config



test*.txt
*.nupkg