################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Model/obj/Debug/net8.0/refint/Model.dll
/Model/bin/Debug/net8.0
